body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#navbar a div:first-of-type{
  transition: 0.5s ease;
}

#navbar .active div:first-of-type{
  background-color:#c5cae9 !important;
}

.dx-cell-focus-disabled {
    text-align: center!important
}
svg{
  vertical-align: middle;
}
.container{
  width:100%;
  position:absolute;
  padding: 4px 10px 10px 10px;
}


.fade-enter, .fade-exit{
  opacity:0;
  transition: opacity 300ms ease-in;
}


.fade-enter.fade-enter-active {
  opacity: 1;
}



.page-enter {
  opacity: 0;
  transform: translate(-2em, 0);
    transition-duration: 200ms;
  transition-property: height, opacity, transform;
}

.page-exit-active {
  opacity: 0;
  transform: translate(2em, 0);
    transition-duration: 200ms;
  transition-property: height, opacity, transform;
    position: absolute;
}

.page-enter-active{
  opacity: 0.8;
  transform: translate(0, 0);
}



.slide-top-enter-active,
.slide-top-exit-active,
.slide-down-enter-active,
.slide-down-exit-active {
  transition-duration: 0.4s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-top-enter,
.slide-down-exit-active {
  opacity: 0;
  transform: translate(0, 8em);
}

.slide-top-exit-active,
.slide-down-enter {
  opacity: 0;
  transform: translate(0, -8em);
}
